
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPanel</title>
</head>
<body>
    <div>
        <li>@Html.ActionLink("Помещения", "Index", "Rooms")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Студенты", "Index", "NewStudents")</li>
    </div>
    <div>
        <li>@Html.ActionLink("Комнаты", "Index", "LeaveRooms")</li>
    </div>
</body>
</html>
