@model IEnumerable<Lab1.Models.Violation>


<!DOCTYPE html>

<html>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </table>
</body>
</html>
